---
---

@import "variables";
@import "bootstrap_overrides";
@import "highlight";

@import "asides/github";

html {
  min-height: 100%;

  body {
    margin-bottom: $footer-height;

    .blog-index {
      article {
        margin-bottom: 3em;
      }
    }
    
    img.groups-logo, img.projects-logo {
      width: 33%;
      margin-right: 1em;
    }
    
    .post {
      article {
        p {
          text-align: justify;
        }
      }
    }
    .post.post-code, .post.post-group {
      .github-widget {
        width: 45% !important;
        float: right !important;
        margin-left: 1em !important;
      }
    }
    
    > footer {
      width: 100%;
      height: $footer-height;
      background-color: $footer-bg;
      margin-top: $footer-height;

      > .container {
        height: 100%;
        text-align: center;

        span {
          height: 100%;
          vertical-align: middle;
        }
      }
    }
  }
}
