---
layout: page
title: Projects
date: 2014-06-11 14:37
navbar: Projects
subnavbar: Overview
footer: false
---

<div class="row">
{% for project in site.projects | order: 'title' %}
  {% cycle '', '', '', '</div><div class="row">' %}
  {% capture page %}{{ project }}{% endcapture %}
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a href="{{ project.url }}">
            {{ project.title }}
          </a>
        </h2>
      </div>
      <div class="panel-body">
        {% if project.logo %}
          {% img '{{ project.logo }}' class:"projects-logo img-responsive pull-left" alt:"{{ project.title }} Logo" %}
        {% endif %}
        {% if project.short_desc %}{{ project.short_desc }}{% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% include contribute_footer.html content='project' %}
