---
layout: page
title: Projects
date: 2014-06-11 14:37
navbar: Projects
subnavbar: Overview
footer: false
---

<div class="panel-container">
  {% assign sorted_projects = site.projects | sort:'title' %}
  {% for project in sorted_projects %}
  {% capture page %}{{ project }}{% endcapture %}
  <div class="card panel-card">
    <div>
      <h2 class="panel-title">
        <a href="{{ project.url }}">
          {{ project.title }}
        </a>
      </h2>
    </div>
    <div class="panel-body">
      {% if project.logo %}
      <img src='/assets/images/{{ project.logo }}' class="projects-logo img-responsive pull-left"
        alt="{{ project.title }} Logo"></img>
      {% endif %}
      {% if project.short_desc %}{{ project.short_desc }}{% endif %}
    </div>
  </div>
  {% endfor %}
  {% include contribute_footer.html content='project' %}
</div>
