{% assign current_base_arr = page.url | replace:'/events/','' | split:'/' %}
{% assign current_base = current_base_arr | first %}
{% assign current_base_size = current_base | size %}

{% capture event_index_url %}{% if current_base_size == 0 %}{{ page.url | strip }}{% else %}/events/{{ current_base | strip }}{% endif %}/{% endcapture %}

<nav id="subnav" class="clearfix" role="navigation">
  <ul class="nav nav-tabs">
    <li role="presentation"{% if event_index_url == page.url %} class="active"{% endif %}>
      <a href="{{ event_index_url }}">Event's Main Page</a>
    </li>
    {% sorted_for subpage in site.events_upcoming %}
      {% unless subpage.page_type == 'event_page' %}
        {% assign subpage_url_arr = subpage.url | split:'/' %}
        {% if subpage_url_arr contains current_base %}
          <li role="presentation"{% if subpage.url == page.url %} class="active"{% endif %}>
            <a href="{{ subpage.url }}">{{ subpage.subtitle }}</a>
          </li>
        {% endif %}
      {% endunless %}
    {% endsorted_for %}
    {% sorted_for subpage in site.events_past %}
      {% unless subpage.page_type == 'event_page' %}
        {% assign subpage_url_arr = subpage.url | split:'/' %}
        {% if subpage_url_arr contains current_base %}
          <li role="presentation"{% if subpage.url == page.url %} class="active"{% endif %}>
            <a href="{{ subpage.url }}">{{ subpage.subtitle }}</a>
          </li>
        {% endif %}
      {% endunless %}
    {% endsorted_for %}
  </ul>
</nav>
