<section class="gh-repos panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-github fa-fw"></i>GitHub Repos</h3>
  </div>
  <div class="list-group" id="gh_repos">
    <p class="loading">Status updating...</p>
  </div>
  {% if site.data.github.show_profile_link %}
  <div class="panel-body gh-profile-link text-muted">
    <div class="pull-right">
      <a href="https://github.com/{{include.username}}">@{{include.username}}</a> on <i
        class="fa fa-github fa-fw"></i>GitHub
    </div>
  </div>
  {% endif %}
  <script type="text/javascript">
    $(document).ready(function () {
      if (!window.jXHR) {
        var jxhr = document.createElement('script');
        jxhr.type = 'text/javascript';
        jxhr.src = '/_assets/js/vendor/jXHR.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(jxhr, s);
      }

      github.showRepos({
        user: '{{ include.username }}',
        count: '{{ site.data.github.repo_count }}',
        skip_forks: '{{ site.data.github.skip_forks }}',
        target: '#gh_repos'
      });
    });
  </script>
  <script src="/_assets/js/github.js"></script>
</section>
