<section class="group-meta panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Group Profile</h3>
  </div>
  <div class="panel-body">
    {% if page.logo %}
      <div class="row">
        <div class="col-md-12 logo">
          <img src="{{ root_url }}/images/{{ page.logo }}" alt="{{ page.title }} Logo" />
        </div>
      </div>
    {% endif %}
    {% if page.group_url %}
      <div class="row">
        <label class="col-md-4 control-label">Homepage</label>
        <div class="col-md-8">
          <a href="{{ page.group_url }}">{{ page.group_url | trim_url }}</a>
        </div>
      </div>
    {% endif %}
    {% if page.group_address %}
      <div class="row">
        <label class="col-md-4 control-label">Address</label>
        <div class="col-md-8">
          <address>{{ page.group_address }}</address>
        </div>
      </div>
    {% endif %}
    {% if page.members %}
      <div class="row">
        <label class="col-md-4 control-label">Members</label>
        <div class="col-md-8">
          {% for member in page.members %}
            <span class="clearfix">
              {{ member.name }}
              {% if member.email or member.corresponding %}
                <span class="pull-right">
                  {% if member.corresponding %}
                    <a href="#" title="Group Head"><i class="fa fa-graduation-cap fa-fw"></i></a>
                  {% endif %}
                  {% if member.email %}
                    <a href="mailto:{{ member.email }}" title="email: {{ member.email }}"><i class="fa fa-envelope-o fa-fw"></i></a>
                  {% endif %}
                </span>
              {% endif %}
            </span>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</section>