Matthew Emmett <memmett@gmail.com> <matthew@emmett.ca>
Matthew Emmett <memmett@gmail.com> <mwemmett@lbl.gov>
Stephanie Friedhoff <stephanie.friedhoff@alumni.tufts.edu>
Torbjörn Klatt <t.klatt@fz-juelich.de> <torbjoernk@users.noreply.github.com>
Torbjörn Klatt <t.klatt@fz-juelich.de> <opensource@torbjoern-klatt.de>
Thibaut Lunet <thibaut.lunet@isae.fr> Tlunet <Thibaut.LUNET@isae.fr>
Thibaut Lunet <thibaut.lunet@isae.fr> T.LUNET <Thibaut.LUNET@isae.fr>
Daniel Ruprecht <d.ruprecht@leeds.ac.uk> Daniel Ruprecht <daniel.ruprecht@usi.ch>
Daniel Ruprecht <d.ruprecht@leeds.ac.uk> danielru <daniel@comp.usilu.net>
Daniel Ruprecht <d.ruprecht@leeds.ac.uk> Daniel <daniel@D-Laptop.local>
Daniel Ruprecht <d.ruprecht@leeds.ac.uk> Daniel <daniel@comp.usilu.net>
Daniel Ruprecht <d.ruprecht@leeds.ac.uk> Daniel Ruprecht <danielru@users.noreply.github.com>
Selman Terzi <sterzi@hotmail.de>
