---
layout: page
title: Methods
date: 2014-06-16 00:00:00 +0000
navbar: Methods
subnavbar: Overview
footer: false
---

<div class="panel-container">
  {% assign sorted_methods = site.methods | sort:'title' %}
  {% for method in sorted_methods %}
  {% capture page %}{{ method }}{% endcapture %}
  <div class="card panel-card">
    <div>
      <h2 class="panel-title">
        <a href="{{ method.url }}">
          {{ method.title }}
        </a>
      </h2>
    </div>
    <div class="panel-body">
      {% if method.short_desc %}{{ method.short_desc }}{% endif %}
    </div>
  </div>
  {% endfor %}
  {% include contribute_footer.html content='method' %}
</div>
