<footer id="site-footer">
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <p class="navbar-text">
            <a class="navbar-link" href="{{ root_url }}/about/imprint.html">
              <span class="glyphicon glyphicon-copyright-mark fa-fw"></span><span class="hidden-xs">Imprint</span></a>
            <!--<span class="seperator hidden-xs"></span>-->
          </p>
        </div>
        <div class="col-md-4 col-lg-4 hidden-xs hidden-sm">
          <p class="navbar-text small">
            <span class="credit"><a class="navbar-link" href="http://octopress.org">Powered by Octopress</a></span>
          </p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
          <p class="navbar-text pull-right">
            <a class="navbar-link" href="https://github.com/Parallel-in-Time/parallel-in-time.github.io">
              <i class="fa fa-github fa-fw"></i><span class="hidden-xs">Sources</span></a>
            <span class="seperator"></span>
            <a class="navbar-link" href="https://github.com/Parallel-in-Time/parallel-in-time.github.io/issues">
              <i class="fa fa-bug fa-fw"></i><span class="hidden-xs">Found a typo?</span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
