<footer>
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text">
        <span class="hidden-xs">Copyright </span>&copy; {{ site.time | date: "%Y" }} - {{ site.author }}
        <small class="hidden-xs hidden-sm">
          <span class="credit">&mdash; Powered by <a href="http://octopress.org">Octopress</a></span>
        </small>
      </p>
      <p class="navbar-text navbar-right hidden-xs">
        <i class="fa fa-github"></i>
        <a href="https://github.com/Parallel-in-Time/parallel-in-time.github.io">Sources on GitHub</a>
      </p>
    </div>
  </div>
</footer>
