<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="/assets/css/app.css">
  <script src="/assets/js/vendor/jquery-1.12.0.js"></script>
  <script src="/assets/js/vendor/bootstrap/affix.js"></script>
  <script src="/assets/js/vendor/bootstrap/alert.js"></script>
  <script src="/assets/js/vendor/bootstrap/button.js"></script>
  <script src="/assets/js/vendor/bootstrap/carousel.js"></script>
  <script src="/assets/js/vendor/bootstrap/collapse.js"></script>
  <script src="/assets/js/vendor/bootstrap/dropdown.js"></script>
  <script src="/assets/js/vendor/bootstrap/modal.js"></script>
  <script src="/assets/js/vendor/bootstrap/scrollspy.js"></script>
  <script src="/assets/js/vendor/bootstrap/tab.js"></script>
  <script src="/assets/js/vendor/bootstrap/transition.js"></script>
  <script src="/assets/js/vendor/bootstrap/tooltip.js"></script>
  <script src="/assets/js/vendor/bootstrap/popover.js"></script>
  <script src="/assets/js/vendor/jquery.githubRepoWidget.js"></script>
  <script src="/assets/js/custom.js"></script>
</head>
