<header>
  <nav>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ root_url }}/">{{ site.title }}</a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% include navs/events.html %}
            {% include navs/groups.html %}
            {% include navs/projects.html %}
            {% include navs/methods.html %}
            {% include navs/codes.html %}
            {% include navs/news.html %}
            <li {% if page.navbar == 'References' %}class="active"{% endif %}>
              <a href="{{ root_url }}/references/index.html">References</a>
            </li>
            <li {% if page.navbar == 'About' %}class="active"{% endif %}>
              <a href="{{ root_url }}/about/index.html">About</a>
            </li>
          </ul>
          {% if site.simple_search %}
            <form class="search navbar-form navbar-right" action="{{ site.simple_search }}" method="GET">
              <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}">
              <div class="form-group">
                <input class="form-control" type="text" name="q" placeholder="Search">
              </div>
            </form>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
