<div class="row">
  <div class="col-md-offset-4 col-md-4 col-sm-offset-2 col-sm-8 col-xs-12">
    <div class="btn-group btn-group-sm btn-group-justified center-block" role="group" aria-label="...">
      <a href="#" role="button" class="btn btn-default btn-sm">
        <i class="fa fa-fw fa-arrow-up"></i>
        top
      </a>
      <div class="btn-group btn-group-sm year-btn-group hidden" role="group">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Years
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu years" role="menu">
        </ul>
      </div>
    </div>
  </div>
</div>
