---
layout: page
title: "References"
date: 2015-06-01 00:00:00 +0000
updated: 2015-06-04 11:30:00 +0200
comments: false
sharing: false
footer: true
---

<p class="lead">
  This list of publications closely related to parallel-in-time integration is probably not complete.
  <blockquote>
    In case you find one that is missing on the list, you can simply add it by <strong>opening a <a
      href="https://github.com/Parallel-in-Time/parallel-in-time.github.io/issues/new?template=new-papers-for-bibbot-.md"
      target="_blank"
      >
      "New Papers for BibBot Issue"
    </a>
    </strong> and provide the DOI or arXiv URL ...
    </blockquote>
</p>


<h2>Statistics</h2>

<div class="row" id="statistics">
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div id="total-num-pubs"></div>
  </div>
  <div class="col-md-6 col-sm-12 col-xs-12">
    <div id="stats-buttons" class="stats-buttons">
      <a class="button" role="button" target="_blank" title="download BibTeX file"
        href="https://raw.githubusercontent.com/Parallel-in-Time/parallel-in-time.github.io/source/_bibliography/pint.bib">
        <i class="fa fa-fw fa-download"></i> BibTeX
      </a>
    </div>
    <p id="image-download-docu" class="hidden-xs text-muted"></p>
    <div class="modal" id="json-modal">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <div style="display: flex; justify-content: end; width: 100%;">
            <button type="button" class="delete" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
          </div>
        </header>
        <section class="modal-card-body">
          <div id="chart-raw-data"></div>
        </section>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <canvas id="pint-pubs-chart" class="hidden-xs center-block"></canvas>
  </div>
  <noscript>
    <div class="col-md-12">
      <div class="alert alert-warning" role="alert">
        You need to activate JavaScript to see the awesome statistics and beautify below listings.
      </div>
    </div>
  </noscript>
</div>

<hr />
{% include references_year_nav.html %}

{% capture todays_year %}
{% current_year %}
{% endcapture %}
{% for year in (2005..todays_year) reversed %}
<h2 id="year{{ year }}" class="year">{{ year }} <span class="count-stat"></span></h2>

{% bibliography --file pint -q @*[year={{ year }}] %}
{% include references_year_nav.html %}
{% endfor %}


<h2 id="year0004" class="year">2000 - 2004 <span class="count-stat"></span></h2>

{% bibliography --file pint -q @*[year>=2000 && year<=2004] %} {% include references_year_nav.html %} <h2 id="year9599"
  class="year">1995 - 1999 <span class="count-stat"></span></h2>

  {% bibliography --file pint -q @*[year>=1995 && year<=1999] %} {% include references_year_nav.html %} <h2
    id="year9094" class="year">1990 - 1994 <span class="count-stat"></span></h2>

    {% bibliography --file pint -q @*[year>=1990 && year<=1994] %} {% include references_year_nav.html %} <h2
      id="year90" class="year">Pre 1990 <span class="count-stat"></span></h2>

      {% bibliography --file pint -q @*[year<=1989] %} {% include references_year_nav.html %}
