---
layout: page
title: Research Groups
date: 2014-06-11 14:37
navbar: Groups
subnavbar: Overview
footer: false
---

<div class="row">
{% for group in site.groups | order: 'title' %}
  {% cycle '', '', '', '</div><div class="row">' %}
  {% capture page %}{{ group }}{% endcapture %}
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a href="{{ group.url }}">
            {{ group.title }}
          </a>
        </h2>
      </div>
      <div class="panel-body">
        {% if group.logo %}<img src="{{ root_url }}/images/{{ group.logo }}" class="groups-logo img-responsive pull-left" alt="{{ group.title }} Logo">{% endif %}
        {% if group.short_desc %}{{ group.short_desc }}{% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div>
