<div class="reference">
  <span class="authors">
    <span class="author">Matthew Emmett</span>
    <span class="author">Michael L Minion</span>
  </span>
  <span class="title">Toward an efficient parallel in time method for partial differential equations</span>
  <span class="journal">Commun. Appl. Math. Comput. Sci.</span>
  <span class="volume">7</span>
  <span class="pages">105–132</span>
  <span class="year">2012</span>
  <span class="doi">10.2140/camcos.2012.7.105</span>
  <span class="mendeley">http://www.mendeley.com/catalog/toward-efficient-parallel-time-method-partial-differential-equations/</span>
</div>
