<div class="reference">
  <span class="authors">
    <span class="author">Andreas Kreienbuehl</span>
    <span class="author">Arne Naegel</span>
    <span class="author">Daniel Ruprecht</span>
    <span class="author">Robert Speck</span>
    <span class="author">Gabriel Wittum</span>
    <span class="author">Rolf Krause</span>
  </span>
  <span class="title">Numerical simulation of skin transport using Parareal</span>
  <span class="journal">Computing and Visualization in Science</span>
  <span class="year">2015</span>
  <span class="arxivid">1502.03645</span>
</div>
