<div class="reference">
    <span class="author">Michael L Minion</span>
  <span class="title">A hybrid parareal spectral deferred corrections method</span>
  <span class="journal">Commun. Appl. Math. Comput. Sci.</span>
  <span class="volume">5</span>
  <span class="pages">265–301</span>
  <span class="year">2010</span>
  <span class="doi">10.2140/camcos.2010.5.265</span>
  <span class="mendeley">https://www.mendeley.com/catalog/hybrid-parareal-spectral-deferred-corrections-method/</span>
</div>
