<div class="reference">
  <span class="authors">
    <span class="author">Daniel Ruprecht</span>
    <span class="author">Robert Speck</span>
    <span class="author">Rolf Krause</span>
  </span>
  <span class="title">Parareal for diffusion problems with space- and time-dependent coefficients</span>
  <span class="journal">Lecture Notes in Computational Science and Engineering</span>
  <span class="year">2014</span>
  <span class="arxivid">1401.7829</span>
<!--  <span class="doi">10.1007/s10543-014-0517-x</span>
  <span class="mendeley">http://www.mendeley.com/research/multilevel-spectral-deferred-correction-method/</span>  
-->
</div>
