<div class="reference">
  <span class="authors">
    <span class="author">Robert Speck</span>
    <span class="author">Daniel Ruprecht</span>
    <span class="author">Matthew Emmett</span>
    <span class="author">Michael L Minion</span>
    <span class="author">Matthias Bolten</span>
    <span class="author">Rolf Krause</span>
  </span>
  <span class="title">A massively space-time parallel N-body solver</span>
  <span class="journal">Proceedings of the International Conference on High Performance Computing, Networking, Storage and Analysis</span>
  <span class="year">2012</span>
  <span class="pages">92:1-92:11</span>
  <span class="doi">10.1109/SC.2012.6</span>
  <span class="mendeley">https://www.mendeley.com/catalog/massively-spacetime-parallel-nbody-solver/</span>
</div>
