<div class="reference">
  <span class="authors">
    <span class="author">Robert Speck</span>
    <span class="author">Daniel Ruprecht</span>
    <span class="author">Matthew Emmett</span>
    <span class="author">Michael L Minion</span>
    <span class="author">Matthias Bolten</span>
    <span class="author">Rolf Krause</span>
  </span>
  <span class="title">A multi-level spectral deferred correction method</span>
  <span class="journal">arXiv Mathematics Numerical Analysis</span>
  <span class="month">July</span>
  <span class="year">2013</span>
  <span class="arxivid">1307.1312</span>
  <span class="mendeley">http://www.mendeley.com/research/multilevel-spectral-deferred-correction-method/</span>
</div>
