{% if page.navbar == 'Codes' %}
  <li role="presentation" class="divider"></li>
  <li role="presentation" class="dropdown-header">Codes</li>
  <li {% if page.navbar == 'Codes' and page.subnavbar == 'Overview' %}class="active"{% endif %}>
    <a href="{{ root_url }}/codes/index.html">Overview</a>
  </li>
  {% for code in site.codes | order: 'title' %}
    <li {% if page.subnavbar == code.subnavbar %}class="active"{% endif %}>
      <a href="{{ code.url }}">{{ code.title }}</a>
    </li>
  {% endfor %}
  <li role="presentation" class="divider"></li>
{% else %}
  <li>
    <a href="{{ root_url }}/codes/index.html">Codes</a>
  </li>
{% endif %}
