{% if page.navbar == 'Codes' %}
  <li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Codes <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li {% if page.subnavbar == 'Overview' %}class="active"{% endif %}>
        <a href="{{ root_url }}/codes/index.html">Codes</a>
      </li>
      {% for code in site.codes | order: 'title' %}
        <li {% if page.subnavbar == code.subnavbar %}class="active"{% endif %}>
          <a href="{{ code.url }}">{{ code.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
{% else %}
  <li>
    <a href="{{ root_url }}/codes/index.html">Codes</a>
  </li>
{% endif %}
