{% if page.navbar == 'Events' %}
  <li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Workshops <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li {% if page.subnavbar == 'Overview' %}class="active"{% endif %}>
        <a href="{{ root_url }}/events/index.html">Overview</a>
      </li>
      <li {% if page.subnavbar == 'Upcoming' %}class="active"{% endif %}>
        <a href="{{ root_url }}/events/upcoming/index.html">Upcoming</a>
      </li>
      <li {% if page.subnavbar == 'Past' %}class="active"{% endif %}>
        <a href="{{ root_url }}/events/past/index.html">Past</a>
      </li>
      <li {% if page.subnavbar == 'Bylaws' %}class="active"{% endif %}>
        <a href="{{ root_url }}/events/bylaws.html">Bylaws</a>
      </li>
      <li {% if page.subnavbar == 'Scientific Committee' %}class="active"{% endif %}>
        <a href="{{ root_url }}/events/scientific_committee.html">Scientific committee</a>
      </li>      
    </ul>
  </li>
{% else %}
  <li>
    <a href="{{ root_url }}/events/index.html">Workshops</a>
  </li>
{% endif %}
