{% if page.navbar == 'Groups' %}
  <li class="dropdown active">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Groups <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li {% if page.subnavbar == 'Overview' %}class="active"{% endif %}>
        <a href="{{ root_url }}/groups/index.html">Overview</a>
      </li>
      {% for group in site.groups | order: 'title' %}
        <li {% if page.subnavbar == group.subnavbar %}class="active"{% endif %}>
          <a href="{{ group.url }}">{{ group.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </li>
{% else %}
  <li>
    <a href="{{ root_url }}/groups/index.html">Groups</a>
  </li>
{% endif %}
