{% if page.navbar == 'Projects' %}
  <li role="presentation" class="divider"></li>
  <li role="presentation" class="dropdown-header">Projects</li>
  <li {% if page.navbar == 'Projects' and page.subnavbar == 'Overview' %}class="active"{% endif %}>
    <a href="{{ root_url }}/projects/index.html">Overview</a>
  </li>
  {% for project in site.projects | order: 'title' %}
    <li {% if page.subnavbar == project.subnavbar %}class="active"{% endif %}>
      <a href="{{ project.url }}">{{ project.title }}</a>
    </li>
  {% endfor %}
{% else %}
  <li>
    <a href="{{ root_url }}/projects/index.html">Projects</a>
  </li>
{% endif %}
