---
layout: page
---
<div class="post post-project">
  <header class="post-header">
    <h1>
      {{ page.title }}
    </h1>
    {% if page.subtitle %}
    <h2>{{ page.subtitle }}</h2>
    {% endif %}
  </header>
  <article class="post-content content">
    <div class="columns is-multiline">
      <div class="column is-7">
        {{ content }}
      </div>
      <aside class="column is-5">
        {% include asides/project_meta.html %}
        {% if page.github_username %}
        {% include asides/github.html username=page.github_username %}
        {% endif %}
      </aside>
    </div>
  </article>
  {% if page.footer %}
  <footer>
    {% include post/date.html %}
  </footer>
  {% endif %}
</div>
