---
layout: default
---
<div class="post post-event">
  <div class="row">
    <header class="col-sm-12 post-header">
      <h1>{{ page.title }}</h1>
    </header>
  </div>
  <article class="post-content">
    <div class="row">
      <div class="{% if page.page_type == 'event_page' %}col-lg-7 col-sm-12{% endif %} content" id="main-content">
        {% include asides/event_subnav.html %}
        {% if page.subtitle %}
          <h2>{{ page.subtitle }}</h2>
        {% endif %}
        {{ content }}
      </div>
      {% if page.page_type == 'event_page' %}
      <aside class="col-lg-5 col-sm-12 collapse in" id="meta-aside">
        {% include asides/event_meta.html %}
      </aside>
      {% endif %}
    </div>
  </article>
  {% if page.footer %}
    <footer>
      {% include post/date.html %}
    </footer>
  {% endif %}
</div>
