---
---
<div class="bibtex-entry-container">
  <div>
    <div class="col-md-3 col-sm-12 bibtex-ref-meta hidden">
      <div class="row">
        <div class="col-md-12 ref-label label label-default">
          {{ key }}
        </div>
      </div>
      <div class="row">
        <div class="btn-group btn-group-xs btn-group-justified" role="group">
          <div class="btn-group btn-group-xs" role="group">
            {% if entry.abstract %}
            <button class="button" data-toggle="modal" data-target="#modal{{ key }}Abstract" aria-expanded="false"
              aria-controls="modal{{ key }}Abstract">
              Abstract
            </button>
            {% else %}
            <button class="button" disabled="disabled" data-toggle="modal" data-target="#modal{{ key }}Abstract"
              aria-expanded="false" aria-controls="modal{{ key }}Abstract">
              Abstract
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="bibtex-ref-entry">
      {{ reference | trim_ieee_citation }}
    </div>
  </div>
  <div class="collapse" id="collapse{{ key }}Bibtex">
    <div class="row">
      <div class="col-md-12">
        <pre class="abstract">{{ entry.bibtex }}</pre>
      </div>
    </div>
  </div>
  {% if entry.abstract %}
  <div class="modal" id="modal{{ key }}Abstract" tabindex="-1" role="dialog"
    aria-labelledby="modal{{ key }}AbstractTitle" aria-hidden="true">
    <div class="modal-background">
      <div class="modal-card">
        <div class="modal-content">
          <header class="modal-card-head">
            <div class="modal-card-head-content">
              <div>
                <p class="modal-card-title" id="modal{{ key }}AbstractTitle">
                  Abstract for BibTeX entry <code>{{ key }}</code>
                </p>
              </div>
              <button type="button" class="delete" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>
            </div>
          </header>
          <section class="modal-card-body">
            {{ entry.abstract }}
          </section>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
