---
layout: page
title: Workshops
date: 2014-06-11 14:38
navbar: Events
subnavbar: Overview
comments: false
sharing: false
footer: false
---

<div class="row">
  <div class="col-md-6">
    <h2>Upcoming</h2>
    <ul class="list-group">
      {% for event in site.events_upcoming %}
        {% include event/overview_item.html %}
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-6">
    <h2>Past</h2>
    <ul class="list-group">
      {% for event in site.events_past reversed %}
        {% include event/overview_item.html %}
      {% endfor %}
    </ul>
  </div>
</div>

{% include contribute_footer.html content='event' %}
