---
layout: page
title: Codes
date: 2014-06-15 16:45
navbar: Codes
subnavbar: Overview
footer: false
---

<div class="row">
{% for code in site.codes | order: 'title' %}
  {% cycle '', '', '', '</div><div class="row">' %}
  {% capture page %}{{ code }}{% endcapture %}
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
          <a href="{{ code.url }}">
            {{ code.title }}
          </a>
        </h2>
      </div>
      <div class="panel-body">
        {% if code.logo %}<img src="{{ root_url }}/images/{{ code.logo }}" class="codes-logo img-responsive pull-left" alt="{{ code.title }} Logo">{% endif %}
        {% if code.short_desc %}{{ code.short_desc }}{% endif %}
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% include contribute_footer.html content='code' %}
