.post article section.gh-repos {
  @include make-md-column(4);
  @include pull-right;
  
  margin-left: 1em;
  padding-left: 0;
  padding-right: 0;

  #gh_repos {
    p {
      font-size: 13px;
    }
  }
  
  .gh-profile-link {
    margin: 6px;
    font-size: 13px;
  }
}
