<section>
  <h3>A new community resource</h3>
  <p>Information about people, events, methods and software in the field of
    Parallel-in-Time (PinT) integration methods.</p>
  <p>
    The website is based on GitHub Pages, making it easy for everyone to contribute.
    See the
    <a href="https://github.com/Parallel-in-Time/parallel-in-time.github.io/wiki"
       target="_blank">Wiki for more details ...</a>
  </p>


  <h4><a href="/references">Literature list</a></h4>
  <p>
    Extensive list of PinT related publications in BibTex format, <a href="/references">see here ...</a>
    Feel free to use it!
    <blockquote>
    In case one is missing, you can simply add it by <strong>opening a <a
      href="https://github.com/Parallel-in-Time/parallel-in-time.github.io/issues/new?template=new-papers-for-bibbot-.md"
      target="_blank"
      >
      "New Papers for BibBot Issue"
    </a>
    </strong> and provide the DOI or arXiv URL ...
    </blockquote>
  </p>

</section>
